<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shopping bag</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let ingredient of ingredients | keyvalue">
      <ion-checkbox slot="start" [(ngModel)]="ingredient.value.checked"></ion-checkbox>
      <span [class.checked]="ingredient.value.checked">{{ ingredient.key }} ({{ ingredient.value.count }})</span>
    </ion-item>
  </ion-list>
</ion-content>